<h1>{{ page.name }}</h1>

---
test: a
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include css.html %}
</head>
<body>
{% include navigation.html %}
<div>publisherName</div>
<div id = "info">
    <div>description</div>
    <div>established</div>
    <div>country</div>
    <div>status</div>
    <div>parentCompany</div>
</div>
<div id= "videogamesList">
    <ol>
        <li>1st</li>
        <li>2nd</li>
        <li>3th</li>
    </ol>
</div>
</body>
</html>